body , h3{
    margin:0;
}
.bottom{
    margin: 50px;
}
.clr{
    clear: both;
}
.class{
    width: 70%;
    margin: 0 auto;
}
.box1{
    background-color:cadetblue;
    /*padding: 20px;
    padding-right:20px;
    padding-left: 25px;
    padding-bottom:15px;
    padding-top:24px;
*/
padding:20px 30px;
border:3px solid gray;
}
.box1 h3{
    text-align:center;
    text-decoration: underline;
    font-family:'Times New Roman', Times, serif;
    color:crimson;
    margin-top:30px;
}
.box1 p{
    color:crimson; 
}
.box2{
 margin-top:30px;
 border:3px dashed grey;
 padding:20px;
}
.box2 h3, .box2 p{
    color:darkseagreen;
}
.button{
    background-color:mediumpurple;
    color:#fff;
    font-size:20px;
    border: 1px solid mediumpurple;
    padding:6px 16px;
    border-radius:8px;
}
.button:hover{
    cursor:pointer;
    background-color:#fff;
    color:#222;
}
.box3{
    margin:30px 0;
    border: 1px solid red;
    padding: 10px;
}
.box3 h1{
    text-align:center;
    color:sienna;
    font-family:sans-serif;
}
.categories{
    padding:0;
}
.categories li{
    list-style-type: none;
    padding: 5px 0;
    border-bottom: 1px solid red;
}
.myform{

}
.myform label{
    display: block;
    font-size:20px;
    color:blue;
}
.myform input, .myform textarea{
    margin: 8px 0;
    padding: 5px;
    width:100%;
}
 .block{
    float: left;
    width: 33.3%;
    border: 1px solid red;
    padding: 10px;
    box-sizing: border-box;
 }
 .content{
    float: left;
    width:70%;
 }
 .sidebar{
    float: left;
    width: 30%;
    background-color:#222;
    color:#fff;
    box-sizing: border-box;
    padding: 0 10px;
 }
 .relative{
    position: relative;
    top: 30px;
    width: 600px;
    height: 400px;
    background-image: url("photo.jpg");
    background-size: cover;
    margin-left: 20px;
 }
 .absolute{
    position:absolute;
    bottom:0;
    top:100%;
    right:0;
 } 20.06 второе видео